* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    font-family: iransansx;
}

html {
    scroll-behavior: smooth;
}
  .resItem--course{
    display: none;

}   
 @include media($screen) {
    .resItem--course{ display:contents ;}
       
        ul.head-grid--items {
            display: none;
        }
    }